[Unit]
Description=Mount unit for wekan, revision 1998
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/wekan_1998.snap
Where=/snap/wekan/1998
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
