[Unit]
Description=Mount unit for core, revision 13741
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/core_13741.snap
Where=/snap/core/13741
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
