[Unit]
Description=Mount unit for slcli, revision 2111
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/slcli_2111.snap
Where=/snap/slcli/2111
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
